<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You are not autherized to access this page</h1>
   <h2> please login/register to continue</h2>
   <div class="buttons">
      <a href="/"> <button>Login</button></a>
      <a href="/register"> <button>Register</button></a>
   </div>
</body>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    body{
        display:flex;
        font-family:monospace;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        height:100vh;
        gap:1rem;
    }
    button{
        width:5rem;
        height:3rem;
        border-radius: 4px;
        font-size:1.1rem;
    }

</style>
</html>